In [30]:
# 1

In [29]:
n = 0
while n < 10:
    print(n)
    if n == 4:
        break 
    n += 1

0
1
2
3
4

In [ ]:
#2

In [1]:
n = 0
while n < 5:
  print (n)
  n += 1

else:
    print(n, "is not less than 5")

0
1
2
3
4
5 is not less than 5

In [ ]:
#3

In [28]:
my_fruits = {'lime', 'lemon', 'apple', 'kiwi'}
for fruit in my_fruits:
    print("I like", fruit)

I like lemon
I like apple
I like kiwi
I like lime

In [26]:
my_fruits = {'lime', 'lemon', 'apple', 'kiwi'}
for fruit in my_fruits:
    print("I like", fruit)
    if fruit == 'apple':
        break
print('is apple really a fruit?')

I like lemon
I like apple
is apple really a fruit?

In [ ]:
#4

In [10]:
Sum = 0 
num = 1 
while num <= 30: 
    Sum += num 
    num += 1    
print(Sum)

465

In [ ]:
#5

In [13]:
grade = 90

In [14]:
if grade >= 90:
    print('A')
elif grade <= [80,90]:
    print('B')
elif grade <= [70,80]:
    print('C')
elif grade <= [60,70]:
    print('D')
else:
    print('F')

A

In [ ]:
#6

In [49]:
my_dictionary = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [ ]:
#6.1

In [50]:
for name, grades in my_dictionary.items():
    print (name, grades)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [ ]:
#6.2

In [72]:
my_dictionary.values()

dict_values([88, 66, 90, 55, 77])

In [77]:
sum(dict_values)

376

In [78]:
sum(dict_values)/5

75.2

In [79]:
max(dict_values)

90

In [80]:
min(dict_values)

55

In [ ]:
#6.3

In [131]:
for keys in my_dictionary:
    print(keys)
    if "J" in keys:
        break

Andy
Amy
James

In [ ]:
#6.4

In [137]:
for keys in my_dictionary:
    if "J" in keys:
        continue
    print(keys)

Andy
Amy
Arthur