In [1]:
def less_than(num):
    for n in range(num):
        print(n)
        
less_than(5)

0
1
2
3
4

In [ ]:
# Question 1:

In [6]:
grade = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

In [3]:
def print_student(student_name):
    grade = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
    for student in grade:
        if student == student_name:
            print(grade[student])
            break
    else:
        print('cannot find this student’s name')
        
print_student("Andy")

88

In [4]:
def print_student(student_name):
    grade = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
    for student in grade:
        if student == student_name:
            print(grade[student])
            break
    else:
        print('cannot find this student’s name')
        
print_student("Mark")

cannot find this student’s name

In [ ]:
#Q2

In [8]:
grade_average = {"Andy": 88, "Amy": 66, "James": 90, "Jules": 55, "Arthur": 77}

In [9]:
res = 0
for val in grade_average.values():
    res += val

In [10]:
res = res / len(grade_average)

In [11]:
print("The mean is : " + str(res))

The mean is : 75.2

In [ ]:
# Question 2: ?

In [21]:
def a_function(num):
    while n < num:
        print(n)
        
    else:
        print("greater than", num)

In [ ]:
# Question 3

In [22]:
def number_sum(num):
    n = 1
    sum = 0
    while n <= num:
        sum = sum + n
        n = n + 1
    print(sum)
number_sum(6)

21

In [ ]:
#?? Question 4: Define a function. add all the integers from 1 to num, print out the sum at each step/iteration. Using for loop.

In [24]:
def num_sum2(num):
    sum = 0
    for n in range(num):
        sum = sum + n
    print(sum)
num_sum2(31)

465

In [ ]:
# Question 5: Define a function. For a given list, range (1, 100), calculate its mean, sum, and standard deviation. You can use built in function and package.

In [28]:
import statistics as stats

In [31]:
list = range(1, 100)

In [39]:
stats.mean(list)

50

In [42]:
sum(list)

4950

In [43]:
stats.stdev(list)

28.722813232690143

In [ ]:
# Question 6

In [60]:
def minimum(num):
    mini = num[0]
    for i in num[0:]:
        if i < mini:
            mini = i
        else:
            mini = num[0]
    return (mini)
b=[1,2,3,4]
print(minimum(b))

1

In [ ]:
# Question 7

In [14]:
var1 = "I "
var2 = "am "
var3 = "Happy"

In [15]:
def string_function(var1, var2, var3):
    var1 = "I"
    var2 = "am"
    var3 = "Happy"
var4 = var1 + var2 + var3

In [16]:
print(var4)

I am Happy